## Objectives

subqueries are queries embedded in a query. It could return a single value, a single row/column, or an entire table. 

subwueries should be in pranthesis (). Always use order by in the outer query. BETWEEN does not work with a query but could work with a query

- Use subqueries in the WHERE clause
- Use subqueries in the FROM clause
- Use subqueries in the SELECT clause

## 2. Subqueries in WHERE clause

-- select emplowees which are not managers

__SELECT * from employees__

__WHERE emp_no NOT IN (SELECT emp_no FROM dept_manager);__

-- Retrieve a list of all managers that were 
-- employed between 1st January, 1990 and 1st January, 1995

__SELECT * FROM dept_manager__

__WHERE emp_no IN (SELECT emp_no FROM employees__

&emsp;&emsp;&emsp;&emsp;&emsp;__WHERE hire_date BETWEEN '1990-01-01' AND '1995-01-01')__

## 3. Subqueries in FROM clause

__SELECT *__

__FROM (SELECT * FROM customers WHERE region = 'South') a__

## 4. Subquery in the SELECT clause

-- Retrive first_name, last_name and company_avg_salary of all employees

__SELECT first_name, last_name, (SELECT ROUND(AVG(salary), 2) FROM salaries) AS company_avg_salary__

__FROM employees;__

-- Find the avg_salary exclude outlier salaries (highest and lowest)


__SELECT ROUND(AVG(SALARY), 2) avg_salary__

__FROM (SELECT salary FROM salaries__

&emsp;&emsp;&emsp;&emsp; __WHERE salary NOT IN ((SELECT MIN(salary) IN salaries),__

&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;__(SELECT MAX(salary) IN salaries))__

-- use LIMIT in sub query to remove multiple outliers